<div class="row">
  <br><br>
  <div class="panel">
    Proof of concept, used libs and tools are followings : <br>
    <ul>
      <li>EmberJS</li>
      <li>Ember-cli</li>
      <li>Ember-cli-cordova</li>
      <li>Laravel</li>
      <li>Free shared hosting</li>
      <li>Atom editor with VI mode</li>
    </ul>
  </div>
</div>
