<div class="panel">
	<h3>Login</h3>
	{{input type="text"     value=identification placeholder="email..."}} <br>
	{{input type="password" value=password       placeholder="password..."}} <br>
	<button {{action 'authenticate'}}>login</button>   
	{{link-to 'Register' 'register' class="button"}}
</div>
