<div class="row">
  &nbsp;
</div>
<div class="row">
  <div class="small-3 columns">
    {{gravatar-image email=email alt=username size="250"}}
  </div>
  <div class="small-9 columns">
    username : {{username}}<br>
    email    : {{email}}<br>
  </div>
</div>
