<div class="panel">
	<h3>Register new user</h3>
	{{input type="text"     value=username placeholder="login name..."}}<br>
	{{input type="email"    value=email    placeholder="email..."}}<br>
	{{input type="password" value=password placeholder="password..."}}<br>
	<button {{action 'doRegister'}}>Register</button>
</div>